<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
		<!-- Admin ID - required to list users -->
		<add key="AdminId" value="372d0752-7b12-4a6b-ada0-08a4c679cf22" />

		<!-- URLs Base -->
		<add key="WebServiceBaseUrl" value="https://cai-tp.azurewebsites.net/api/" />

		<!-- Files -->
		<add key="RutaArchivos" value="Data" />

		<!-- Other configurations -->
		<add key="MaxIntentosLogin" value="3" />
		<add key="TiempoExpiracionPassword" value="30" />
		<add key="ContraseñaTemporal" value="CAI20232" />
		<add key="AnchoFormulario" value="600" />
	</appSettings>
</configuration>